.image-contents {
  display: block;
  width: 100%;
  min-height: 100%;
  background-color: #131313;
  margin: 2%;
}

.image-bg-area,
.contents {
  display: block;
  width: 100%;
  height: 50%;
}

.image-bg-area {
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 100% 100%;
  font-size: 50px;
  font-weight: bold;
}
