.image-contents {
  display: block;
  width: 100%;
  height: auto;
  background-color: #131313;
  margin: 20px;
}

.title-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.contents {
  display: block;
  width: 100%;
  height: auto;
}
