.image-contents {
  display: block;
  width: 100%;
  min-height: 100%;
  background-color: #131313;
}

.contents {
  display: block;
  width: 100%;
  height: 50%;
  /* background-color: red; */
  background-color: #131313;
}

.image-bg-area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  margin: 5px;
}
.image-bg-area img {
  min-width: 40%;
  border-radius: 10px;
}
