.App {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

nav {
  display: block;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cccccc;
}

.App nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: block;
  width: 100%;
  height: calc(100% - 60px);
}
